.tab_faculty{
background-color:#fafafa;
margin: 28px 0 30px 0 ;
padding:0 2% 0 0;
position:relative;
border:1px solid #ccc;
}
.img_faculty img{
height:250px;
}
.img_faculty {
float:left;
margin-right:2%;
height:250px;
background-image:url(../image/facult_image.jpg); 
background-position: center; 
width:25%;
}
.text_faculty p{
	font-family:segoe ui;
	font-size:14px;
	color:#222;
	text-align:justify;
}
.text_faculty {
padding-top:1%;
}
.name_faculty{
background-color:rgba(0, 0, 0, 0.66);
position:absolute;
top:160px;
left:20px;
padding:15px 20px 20px 20px;
}
.name_faculty h4{
font-family:segoe ui;
color:#FFF;
font-size:25px;
font-weight:normal;
text-decoration:none;
}
.expand {
position:absolute;
bottom:20px;
right:20px;
top: 185px;
height: 50px;
}

/*
.expand  a {
background-image:url(../image/expand.png); 
padding:29px 46px 0px 29px;
}
*/


#container{
display:none;
font-family:segoe ui;
color:#222;
font-size:14px;
font-weight:normal;
text-decoration:none;
padding:20px ;
}

				
@media screen and (max-device-width:960px) {
		.name_faculty{
background-color:rgba(0, 0, 0, 0.66);
position:absolute;
top:160px;
left:20px;
padding:15px 20px 20px 20px;
}
.name_faculty h4{
font-family:segoe ui;
color:#FFF;
font-size:19px;
font-weight:normal;
text-decoration:none;
}
		
		}
		