/*begin*/
.color_green{
    background-color: #52A365!important;
    color: white;
    border-color: #52A365!important;
}

.color_dust{
    background-color: #E2AF13!important;
    color: white;
    border-color: #E2AF13!important;
}

.color_orange{
    background-color: #D98205!important;
    color: white;
    border-color: #D98205!important;
}

.color_violet{
    background-color: #8A5EAD!important;
    color: white;
    border-color: #8A5EAD!important;
}

.color_blue{
    background-color: #31A8E2!important;
    color: white;
    border-color: #31A8E2!important;
}

.color_grass{
    background-color: #00AF80!important;
    color: white;
    border-color: #00AF80!important;
}

.color_brown{
    background-color: #CBB274!important;
    color: white;
    border-color: #CBB274!important;
}

.color_vio{
    background-color: #7484D7!important;
    color: white;
    border-color: #7484D7!important;
}

/*end*/

.color_green1{
    background-color: #52A365!important;
    color: white;
}

.color_dust1{
    background-color: #E2AF13!important;
    color: white;
}

.color_orange1{
    background-color: #D98205!important;
    color: white;
}

.color_violet1{
    background-color: #8A5EAD!important;
    color: white;
}

.color_blue1{
    background-color: #31A8E2!important;
    color: white;
}

.color_grass1{
    background-color: #00AF80!important;
    color: white;
}

.color_brown1{
    background-color: #CBB274!important;
    color: white;
}

.color_vio1{
    background-color: #7484D7!important;
    color: white;
}
